h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.logo{
    width: 120px;
}
.nav-items > ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-items > ul >li {
    margin-right: 30px;
}
.nav-button{
    padding: 10px 20px;
    margin-right: 30px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    border: 0;
    font-size: 16px;
    cursor: pointer;
}
.res-card{
    width: 250px;
    height: 300px;
    border: .5px solid rgba(0, 0, 0, 0.788);
    background-color: rgb(248, 231, 164);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
}
.res-card >img{
    width: 100%;
    height: 50%;
}
.res-card >h3,h4,h5 {
    margin-top: 5px;
}

.filter {
    margin-top: 30px;
   
}
.filter-btn{
    padding: 10px 20px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    border: 0px;
    font-size: 17px;
    cursor: pointer;

}
.search{
    margin-top: 30px;
}
.search-tag{
    width: 20%;
    height: 30px;
    font-size: 16px;
    border: 1px solid lightgray;
}
.search > button{
    height: 35px;
    background-color: orange;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}


.res-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0px 30px; 
}
.cuisine{
    font-weight: 300;
}

.shimmer-card{

    width: 250px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.678);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    border-radius: 7px;
    padding: 6px;
    margin-top: 30px;
    margin-left: 30px;

}
.shimmer-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0px 30px; 
}
.image-box{
    width: 100%;
    height: 50%;
    background-color: lightgrey;
}
.box-h3,.box-h4,.box-h5 {
    background-color: lightgray; 
    margin-top: 10px;
    height: 12px;
    width: 100%;
}